html, body { 
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

html {
    overflow-y: scroll;
}

body {
    position: absolute;
}

/* Setting navbar to fixed size at the top of page*/
.global-navbar-container {
    background-color: aqua;
    height: 80px;
    top: 0px;
    width: 100%;
}


/* TEMP STYLING FOR SVG BLOCKS */

img {
    height: 100px;
    width: 100px;
}