/* ============ SubSectionName ============ */

/* ============ Constants ============ */

:root {
    --theme-orange: #FF7300;
    --theme-purple: #9D2ADB;
    --theme-green: #00A607;
    --theme-blue: #103ACD;
}

/* ============ Basics ============ */

/* This is a universal reset */
* {  
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html, body { 
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    position: absolute;
}

/* ============ Navbar ============ */

/* Setting navbar to fixed size at the top of page*/
.global-navbar-container {
    background-color: rgb(75, 75, 75);
    height: 80px;
    top: 0;
    width: 100%;
}


.home-page-container {
    background-color: rgb(213, 245, 255);
}

/* ============ Home Page Animated Blocks ============ */
#animated-blocks-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-inline: auto;
    padding-top: 150px;
    padding-bottom: 80px;
    height: 40vw;
    width: 40vw;
    position: relative;
}

#animated-blocks-grid .fun-block {
    height: 50%;
    width: 50%;
    margin: 0px;
}

.fun-block > img {
    height: 100%;
    width: 100%;
    margin: 0px;
}


/* ============ Home Page Text Content ============ */
.home-page-title-container {
    margin-inline: auto;
    position: relative;
    height: 200px;
    width: 75%;
    text-align: center;
    border-color: var(--theme-blue);
}

.home-page-colourize-button {
    height: 200px;
    width: 200px;
}


/* ============ Multi-Coloured Text ============ */
span:nth-child(4n+1).general-multi-coloured-text {
    color: var(--theme-orange)
}
span:nth-child(4n+2).general-multi-coloured-text {
    color: var(--theme-purple)
}
span:nth-child(4n+3).general-multi-coloured-text {
    color: var(--theme-green)
}
span:nth-child(4n+4).general-multi-coloured-text {
    color: var(--theme-blue)
}


/* ============ Projects Page Project Card ============ */

.projects-page-preview-container {
    margin-inline: auto;
    position: relative;
    width: 80vw;
}

.project-card {
    width: 40%;
    height: width;
}

.project-card-img {
    height: 100%;
    width: 100%;
}