/* ============ SubSectionName ============ */

/* ============ Constants ============ */

:root {
    --theme-orange: #FF7300;
    --theme-purple: #9D2ADB;
    --theme-green: #00A607;
    --theme-blue: #103ACD;
}

/* ============ Basics ============ */

html, body { 
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    position: absolute;
}

/* ============ Navbar ============ */

/* Setting navbar to fixed size at the top of page*/
.global-navbar-container {
    background-color: rgb(75, 75, 75);
    height: 80px;
    top: 0;
    width: 100%;
}


.home-page-container {
    
    height: 200vh;
}

/* ============ Animated Blocks ============ */
div.home-page-blocks-container {
}

#animated-blocks-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-inline: auto;
    padding: 150px;
    height: 40vw;
    width: 40vw;
    position: relative;
}

#animated-blocks-grid .fun-block {
    height: 50%;
    width: 50%;
    margin: 0px;
}

.fun-block > img {
    height: 100%;
    width: 100%;
    margin: 0px;
}


/* ============ Home Page Text Content ============ */
.home-page-title-container {
    margin-inline: auto;
    position: relative;
    height: 200px;
    width: 75%;
    text-align: center;
    border-color: var(--theme-blue);
}

.home-page-title:nth-child(1) {
    color: var(--theme-orange)
}
.home-page-title:nth-child(2) {
    color: var(--theme-purple)
}
.home-page-title:nth-child(3) {
    color: var(--theme-green)
}
